@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
   width: 100%;
   background: beige;
   position: relative;
   font-family: 'Roboto', sans-serif;
}

header {
   height: 40px;
   width: 100%;
   background: #1ABEEF;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 30px;
   position: sticky;
   top: 0;
   color: white;
   font-size: 18px;
}

.try-it {
   width: 100%;
   background: beige;
   display: flex;
   position: sticky;
   top: 40px;
   z-index: 10;
   padding: 10px 60px;
}
.try-it .copy {
   width: 80px;
   background: #1ABEEF;
   border: 1px solid grey;
   border-right: none;
   border-radius: 5px 0px 0px 5px;
   color: white;
   font-size: 12px;
   cursor: pointer;
}
.try-it span {
   height: 24px;
   background: #888;
   display: flex;
   align-items: center;
   border: 1px solid grey;
   border-right: none;
   padding-left: 6px;
   color: white;
   font-size: 13px;
}
.try-it select {
   border: 1px solid grey;
   border-right: none;
}
.try-it input {
   width: 100%;
   border: 1px solid grey;
   padding: 0px 2px;
}
.try-it .send {
   width: 100px;
   background: #1ABEEF;
   border: 1px solid grey;
   border-left: none;
   border-radius: 0px 5px 5px 0px;
   color: white;
   cursor: pointer;
}

.body {
   width: 100%;
   display: flex;
}

.column.left { flex: 2; }
.column.right {
   flex: 1;
   position: sticky;
   top: 100px;
}

.container {
   padding: 10px;
   padding-top: 0px;
}

.doc {
   width: 100%;
   background: #8884;
   border-radius: 5px;
   padding: 10px;
}
.doc h2 {
   border-bottom: 1px solid black;
}

.item {
   width: 100%;
   display: flex;
   justify-content: space-between;
   margin-top: 10px;
   font-size: 14px;
}

.query-table {
   width: 100%;
   display: grid;
   grid-template-columns: 86px 60px 1fr 1fr;
   margin-top: 6px;
   border-top: 1px solid black;
   border-left: 1px solid black;
   font-size: 12px;
}
.query-table div {
   border-right: 1px solid black;
   border-bottom: 1px solid black;
   padding: 3px 3px;
}
.query-table .t-head {
   font-weight: 700;
   background: #F78F1E;
   color: white;
   letter-spacing: 1px;
}
.query-table div:nth-child(8n),
.query-table div:nth-child(8n-1),
.query-table div:nth-child(8n-2),
.query-table div:nth-child(8n-3) { background: #E0F4FC; }

.search {
   max-height: calc(100vh - 1000px);
   position: sticky;
   top: 84px;
}

.search-result-header {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid black;
}

.search-show-icons {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   font-size: 13px;
}

#search-result {
   height: 640px;
   margin-top: 10px;
   font-size: 14px;
   overflow-y: scroll;
}
#search-result pre {
   height: 100%;
   white-space: pre-wrap;       /* Since CSS 2.1 */
   white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
   white-space: -pre-wrap;      /* Opera 4-6 */
   white-space: -o-pre-wrap;    /* Opera 7 */
   word-wrap: break-word;       /* Internet Explorer 5.5+ */
   font-size: 12px;
}
.boost, .ability, .proficiency, .symbol { margin: 0px 1px; }
.boost { height: 11px; }
.ability {
   height: 12px;
   width: 10px;
}
.proficiency { height: 11px; }
.symbol { height: 10px; }
